/*   
Theme Name: KNUCA
Description: knuca theme
Author: KNUCA
Version: 0.0.1
*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300&subset=latin,cyrillic-ext,cyrillic);
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

/* CSS*/
html{height:100%}
body{
    /*background: url("images/main-page.jpg") no-repeat top;*/
    background-size: cover;
    border-radius: 0;
    color: #333;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}
body{
    position: relative;
    overflow: hidden;
}
body:before{
    content: "";
    position: absolute;
    /*margin-top: 50px;*/
    width: 300%;
    height: 300%;
    top: -100%;
    left: -100%;
    z-index: -1;
    background-size: 150%;
    background: url("images/web3.png") no-repeat center;
    -webkit-animation: rotating 60s linear infinite;
    -moz-animation: rotating 60s linear infinite;
    -ms-animation: rotating 60s linear infinite;
    -o-animation: rotating 60s linear infinite;
    animation: rotating 60s linear infinite;
}
body>div.body-div{
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    /*padding-top: 52px;*/
    position: absolute;
    top:0;
}
input
.input-group, .input-group-lg, .form-control,
.input-group>.form-control, .input-group>.input-group-addon,
.input-group-lg>.form-control, .input-group-lg>.input-group-addon{
    border-radius: 0;
}
.navbar{
    background: #ffffff;
    border: 0;
    border-bottom: 2px solid #4bacdf;
    color: #333333;
    border-radius: 0;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
    text-transform: uppercase;
    font-weight: 300;
    -webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from(#4bacdf), to(#7f7d7c)) 100% 1;
    -webkit-border-image: -webkit-linear-gradient(right, #4bacdf, #7f7d7c) 100% 1;
    -moz-border-image: -moz-linear-gradient(right, #4bacdf, #7f7d7c) 100% 1;
    -o-border-image: -o-linear-gradient(right, #4bacdf, #7f7d7c) 100% 1;
    border-image: linear-gradient(to left, #4bacdf, #7f7d7c) 100% 1;
}
.navbar .container-fluid {

}
.navbar .navbar-collapse {
    padding: 0;
}
button.navbar-toggle{
    height: 50px;
    width: 60px;
    background: #666666;
    margin: 0 -5px 0 -5px;
    -webkit-transition: background 500ms;
    -moz-transition: background 500ms;
    -ms-transition: background 500ms;
    -o-transition: background 500ms;
    transition: background 500ms;
}
button.navbar-toggle>.icon-bar{
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
button.navbar-toggle:hover{
     background: #888888;
 }
button.navbar-toggle:hover>.icon-bar{
    background: #ffffff;
}
.navbar .navbar-brand {
    background-color: #666666;
    color: inherit;
    margin-right: 0;
    padding: 9px 5px;
}

@media (min-width: 768px) {
    .navbar .navbar-brand img{
        width: 60px;
    }
}
    .navbar-left{
        position: absolute;
        width: auto;
        background: none;
        top: 0;
        left: 70px;
        right: 127px;
    }

.navbar-nav{

    /*background: #ffffff;*/
}
.navbar-right{
    background: #666;
    color: #ffffff;
}
.navbar-right a{
    border: 0;
}
.navbar-nav>li>a{
    text-transform: inherit;
    border-image-source: url("images/tab.png");
    border-image-slice: 0 0 0 100%;
    border-width: 0 0 0 8px;
    color: inherit;
    -webkit-transition: background 500ms;
    -moz-transition: background 500ms;
    -ms-transition: background 500ms;
    -o-transition: background 500ms;
    transition: background 500ms;
}
.navbar-nav>li.first>a {
    border-image-slice: 0;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus{
    background-color: #00afc2;
    color: #ffffff;
}
.navbar-right{
    margin-left: -5px;
}
.navbar-right>li>a:hover, .navbar-right>li>a:focus{
    background-color: #777777;
    color: #eeeeee;
}
.navbar-toggle{
    margin-top: 0;
    border-radius: 0;
    border: 0;
}
.navbar-collapse{
    width: auto;
    border: 0;
    box-shadow: none;
    margin-right: 0;
    margin-left: 0;
}
.container-fluid>button {
    display: none;
}
.navbar-header>.search-btn{
    display: none;
}
.search-btn:hover{
    cursor: pointer;
}
.search-btn>.caret{
    color: #999999;
}
.search-btn .lens-ico {
    width: 25px;
    height: 25px;
    float: left;
    margin: -3px 3px 0 0;
    background: url("images/lens.png") center no-repeat;
    background-size: contain;
}
.search-bar{
    background: #ffffff;
    display: none;
    position: absolute;
    top: 52px;
    color: #59A8D3;
    height: 50px;
    width: 100%;
    -webkit-box-shadow: 1px 2px 5px 1px #4bacdf;
    -moz-box-shadow: 1px 2px 5px 1px #4bacdf;
    box-shadow: 1px 2px 5px 1px #4bacdf;
}
.search-bar>.form-control {
    height: inherit;
    width: 100%;
    font-size: 14pt;
    font-weight: 300;
    border: 0;
    margin: 0;
}
.search-bar .glyphicon-search{
    font-size: 30px;
    padding: 10px;
}
.search-bar .glyphicon-search:hover{
    font-size: 30px;
    color: #ffffff;
    background-color: #59A8D3;
}
.search-bar .search-x {
    background: url("images/search-x.png") left no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    width: 40px;
    height: 30px;
    top: 12px;
}
.search-bar .search-x {
    cursor: pointer;
}
.content {
    color: #888888;
    display: table;
    min-height: 100%;
    margin: 0 auto;
}
.main-page{
    display: table-cell;
    vertical-align: middle;
    /*top: 50%;
    margin-top: -240px;*/
    position: relative;
    transition: top 500ms;
}
.content h1 {
    /*margin-top: 100px;*/
    padding-left: 40px;
    letter-spacing: 40px;
    font-size: 30px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 300;
}
.content h3 {
    border-style: solid;
    display: table;
    text-transform: uppercase;
    border-width: 0 0 2px;
    font-weight: 300;
    font-size: 20px;
    margin: 100px auto 0;
    padding-bottom: 20px;
    -webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from(#4bacdf), to(#7f7d7c)) 100% 1;
    -webkit-border-image: -webkit-linear-gradient(right, #4bacdf, #7f7d7c) 100% 1;
    -moz-border-image: -moz-linear-gradient(right, #4bacdf, #7f7d7c) 100% 1;
    -o-border-image: -o-linear-gradient(right, #4bacdf, #7f7d7c) 100% 1;
    border-image: linear-gradient(to left, #4bacdf, #7f7d7c) 100% 1;
    text-align: center;
}
.line-list{
    display: block;
    list-style: none;
    margin:0 auto;
    padding:0;
    width: 102px;
    position: relative;
}
.line-list li{
    display: block;
    float: left;
    width:30px;
    position: absolute;
    -webkit-transition: background 500ms;
    -moz-transition: background 500ms;
    -ms-transition: background 500ms;
    -o-transition: background 500ms;
    transition: background 500ms;
}
.line-list li.l1{
    left: 0;
}
.line-list li.l2{
    left: 50%;
    margin-left: -15px;
}
.line-list li.l3{
    right: 0;
}
.line-list>li.flag-left{
    -webkit-transform: matrix(1, 0.4, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0.4, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0.4, 0, 1, 0, 0);
    -o-transform: matrix(1, 0.4, 0, 1, 0, 0);
    transform: matrix(1, 0.4, 0, 1, 0, 0);
    filter: progid: DXImageTransform.Microsoft.Matrix(M11=1, M12=0.4, M21=0, M22=1, Dx=0, Dy=0); /* IE 5.5+ */;
}
.line-list>li.flag-left>a{
    -webkit-transform: matrix(1, -0.4, 0, 1, 0, 0);
    -moz-transform: matrix(1, -0.4, 0, 1, 0, 0);
    -ms-transform: matrix(1, -0.4, 0, 1, 0, 0);
    -o-transform: matrix(1, -0.4, 0, 1, 0, 0);
    transform: matrix(1, -0.4, 0, 1, 0, 0);
    filter: progid: DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.4, M21=0, M22=1, Dx=0, Dy=0); /* IE 5.5+ */;
}
.line-list>li.flag-right{
    -webkit-transform: matrix(1, -0.4, 0, 1, 0, 0);
    -moz-transform: matrix(1, -0.4, 0, 1, 0, 0);
    -ms-transform: matrix(1, -0.4, 0, 1, 0, 0);
    -o-transform: matrix(1, -0.4, 0, 1, 0, 0);
    transform: matrix(1, -0.4, 0, 1, 0, 0);
    filter: progid: DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.4, M21=0, M22=1, Dx=0, Dy=0); /* IE 5.5+ */;
}
.line-list>li.flag-right>a{
    -webkit-transform: matrix(1, 0.4, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0.4, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0.4, 0, 1, 0, 0);
    -o-transform: matrix(1, 0.4, 0, 1, 0, 0);
    transform: matrix(1, 0.4, 0, 1, 0, 0);
    filter: progid: DXImageTransform.Microsoft.Matrix(M11=1, M12=0.4, M21=0, M22=1, Dx=0, Dy=0); /* IE 5.5+ */;
}
.lang{
    /*margin-bottom: 100px;*/
}
.lang ul {
    overflow: hidden;
    padding: 2px;
    padding-bottom: 20px;
    height: 70px;
}
.lang>ul>li{
    background-color: #87cadb;
    margin: -30px 2px 0;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 11px;
    -webkit-transition: margin-top 500ms;
    -moz-transition: margin-top 500ms;
    -ms-transition: margin-top 500ms;
    -o-transition: margin-top 500ms;
    transition: margin-top 500ms;
}
.lang ul li a{
    color: #fff;
    display: block;
    padding: 10px 5px 20px 5px;
    margin-left: auto;
    margin-right: auto;
}
.lang ul li:hover{background:#acddef;margin-top: -20px;margin-bottom: -10px}
.lang ul li a:hover{text-decoration: none;}
/*.social{
    position: fixed;
    bottom: 0;
    right: 5px;
}*/
.social {
    position: relative;
    /*left: 50%;
    margin-left: -51px;*/
    bottom: 0;
    height: 70px;
}
.social .line-list{
    padding-left: 2px;
    overflow: hidden;
    position: relative;
    /*bottom: -8px;*/
    height: inherit;
}
.social li {
    height: 70px;
    background-color: #b3b3b3;
    margin: 0 2px -15px;
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 11px;
    margin-top: -49px;
    position: absolute;
    bottom: 0;
}
.social li>a{
    background: center no-repeat;
    background-size: contain;
    width: 14px;
    height: 24px;
    display: block;
    padding: 0 5px 30px;
    margin: 10px auto 0;
}
.social li.facebook>a{background-image: url("images/fb.png");width: 11px;margin-top: 6px;}
.social li.vkontakte>a{
    background-image: url("images/vk.png");
    margin-top: 7px;
}
.social li.twitter>a{background-image: url("images/tw.png");width: 18px;}
.social li:hover {
    /*margin-bottom: 10px;*/
    background: #cccccc;
}
.line-list .lfix{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -15px;
    height: 3px;
}
.line-list .lfix span{
    background-color: #ffffff;
    position: inherit;
    height: inherit;
    bottom: -2px;
}
.line-list .lfix .lfl{
    width: 15px;
    float: left;
    left: 0;
    margin-top: -2px;
    -webkit-transform: matrix(1, -0.3, 0, 1, 0, 0);
    -moz-transform: matrix(1, -0.3, 0, 1, 0, 0);
    -ms-transform: matrix(1, -0.3, 0, 1, 0, 0);
    -o-transform: matrix(1, -0.3, 0, 1, 0, 0);
    transform: matrix(1, -0.3, 0, 1, 0, 0);
    filter: progid: DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.3, M21=0, M22=1, Dx=0, Dy=0); /* IE 5.5+ */;
}
.line-list .lfix .lfr{
    width: 15px;
    left: 15px;
    float: left;margin-top: -2px;
    -webkit-transform: matrix(1, 0.3, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0.3, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0.3, 0, 1, 0, 0);
    -o-transform: matrix(1, 0.3, 0, 1, 0, 0);
    transform: matrix(1, 0.3, 0, 1, 0, 0);
    filter: progid: DXImageTransform.Microsoft.Matrix(M11=1, M12=0.3, M21=0, M22=1, Dx=0, Dy=0); /* IE 5.5+ */;
}
.pre-footer{
    height: 10%;
    width: 100%;
    margin: 0 0 0 -130px;
    position: fixed;
    bottom: 0;
    cursor:pointer;
    z-index: 10;
}
.footer{
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
}
.footer .strip {
    height: 20px;
    width: 100%;
    overflow-y: visible;
    /*overflow-x: hidden;*/
}
.footer .strip>div{
    border-top: 2px solid #979797;
    height: 100%;
}
.footer .strip .s1{
    width: 50%;
    float: left;
    margin-left: -15px;
}
.footer .strip .s2{
    width: 15px;
    float: left;
    margin-top: -2px;
    -webkit-transform: matrix(1, -0.3, 0, 1, 0, 0);
    -moz-transform: matrix(1, -0.3, 0, 1, 0, 0);
    -ms-transform: matrix(1, -0.3, 0, 1, 0, 0);
    -o-transform: matrix(1, -0.3, 0, 1, 0, 0);
    transform: matrix(1, -0.3, 0, 1, 0, 0);
    filter: progid: DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.3, M21=0, M22=1, Dx=0, Dy=0); /* IE 5.5+ */;
}
.footer .strip .s3{
    width: 15px;
    float: left;margin-top: -2px;
    -webkit-transform: matrix(1, 0.3, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0.3, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0.3, 0, 1, 0, 0);
    -o-transform: matrix(1, 0.3, 0, 1, 0, 0);
    transform: matrix(1, 0.3, 0, 1, 0, 0);
    filter: progid: DXImageTransform.Microsoft.Matrix(M11=1, M12=0.3, M21=0, M22=1, Dx=0, Dy=0); /* IE 5.5+ */;
}
.footer .strip .s4{
    width: 50%;
    float: right;
    margin-right: -15px;
}
.footer-inner{
    display: none;
    width:100%;
    height: 50px;
}
.footer-inner>div{
    border-spacing: 3px;
    display: table;
    height: inherit;
    width: 100%;
}
.footer-inner>div>a{
    display: table-cell;
    height: inherit;
    background: #979797;
}
.footer-inner>div>a>div{
    width: inherit;
    height: 80%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 3% auto;
}

.footer-inner>div>a.vru,
.footer-inner>div>a.vyscha-osvita,
.footer-inner>div>a.soloma,
.footer-inner>div>a.archin-corp{
    background: #c8c8c8;
}
a.min-osvity>div{
    background: url("images/sponsors/min_osvity.png");
}
a.vru{
    background: #c8c8c8;
}
a.vru>div{
    background: url("images/sponsors/vru.png");
}
a.tempus>div{
    background: url("images/sponsors/tempus.png");
}
a.vyscha-osvita{
    background: #c8c8c8;
}
a.vyscha-osvita>div{
    background: url("images/sponsors/vyscha_osvita.png");
}
a.ped-press>div{
    background: url("images/sponsors/ped_press.png");
}
a.soloma{
    background: #c8c8c8;
}
a.soloma>div{
    background: url("images/sponsors/soloma.png");
}
a.archin-corp{
    background: #c8c8c8;
}
a.archin-corp>div{
    background: url("images/sponsors/archin_corp.png");
}


div.lnb{
    width: auto;
    left: 70px;
    position: absolute;
    right: 125px;
    top: 0;
    height: 50px;
}
.overflowed div.lnb{
    left: 60px;
    right: 120px;
}
.navbar-left{
    display: table;
    position: static;
    width: 100%;
}
.navbar-left>li{
    display: table-cell;
    text-align: center;
    float: none;
}
.navbar-left>li>a{
    white-space: nowrap;
    padding-left: 0;
    padding-right: 0;
}

/* Navbar overflowed */
.overflowed .navbar-right{
    display: none;
}
.search-bar.overflowed{
    top:0;
    left:60px;
    right:120px;
    z-index:1031;
    width:auto;
    display: block;
    -webkit-box-shadow: 0px 0;
    -moz-box-shadow: 0px 0;
    box-shadow: 0px 0;
}
.overflowed .navbar-brand img {
    width: 50px;
}
.overflowed .navbar-header button{
    margin:0;
}
.overflowed .navbar-header .search-btn {
    border-image-source: url("images/tab.png");
    border-image-slice: 0 0 0 100%;
    border-width: 0 0 0 8px;
    display: block;
    height: 50px;
    margin-left: -1px;
    position: absolute;
    top: 0;
    right: 60px;
    width: 60px;
}
.overflowed .navbar-header .search-btn .lens-ico{
    background: url("images/lens-dark.png") center no-repeat;
    background-size: contain;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 12px;
    left: 8px;
}
.overflowed .navbar-nav>li>a:hover, .navbar-nav>li>a:focus{
    background-color: #7fd3e0;
    color: #000000;
}
.overflowed .navbar-left{
    left: 60px;
    right: 120px;
}
.overflowed .navbar-right{
    display: none;
}
.overflowed #navbar-collapse-2{
    display: none!important;
    height: 0!important;
}
.overflowed #navbar-collapse-2.in{
    display: block!important;
    height: auto!important;
}
.overflowed #navbar-collapse-2>.nav{
    width: 100%;
}.overflowed #navbar-collapse-2>.nav>li{
     width: inherit;
 }
.overflowed #navbar-collapse-2 li>a{
    width: 100%;
}
/*@media (min-width: 768px)
    .navbar-collapse.collapse {
        display: block!important;
        /* height: auto!important; */
      /*  padding-bottom: 0;
        overflow: visible!important;
    }*/
.overflowed .content h3>span{
    display: block;
}
.overflowed .container-fluid>button{
    display: block;
    position: absolute;
    top: 0;
    right: 5px;
}

.search-top{
    top:0;
    left:60px;
    right:120px;
    z-index:1031;
    width:auto;
    display: none;
    -webkit-box-shadow: 0px 0;
    -moz-box-shadow: 0px 0;
    box-shadow: 0px 0;
}


/* Other resolutions */
/*@media (max-width: 1210px) {
    .footer-inner{
        width: 1000px;
    }
    .footer-inner div {
        height: 35px;
    }
}
@media (max-width: 1070px) {
    .footer-inner{
        width: 500px;
        height: 60px;
    }
    .footer-inner div {
        height: 30px;
    }
}
@media(min-width: 768px){
    .navbar-header .search-btn {
        display: none;
    }
}*/
@media (max-width: 768px){
    .navbar-nav{
        /*height: 50px;*/
        margin: 0;
    }
    .navbar-nav>li>a{
        height: 50px;
        line-height: normal;
        padding-top: 18px;
    }
    /*.search-bar{
        top:0;
        left:60px;
        right:120px;
        z-index:1031;
        width:auto;
        display: none;
        -webkit-box-shadow: 0px 0;
        -moz-box-shadow: 0px 0;
        box-shadow: 0px 0;
    }
    .navbar-brand img {
        width: 50px;
    }
    .navbar-header button{
        margin:0;
    }
    .navbar-header .search-btn {
        border-image-source: url("images/tab.png");
        border-image-slice: 0 0 0 100%;
        border-width: 0 0 0 8px;
        display: block;
        height: 50px;
        position: absolute;
        top: 0;
        right: 60px;
        width: 60px;
    }
    .navbar-header .search-btn .lens-ico{
        background: url("images/lens-dark.png") center no-repeat;
        background-size: contain;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 12px;
        left: 8px;
    }
    .navbar-nav>li>a:hover, .navbar-nav>li>a:focus{
        background-color: #7fd3e0;
        color: #000000;
    }
    .navbar-right{
        display: none;
    }*/
    .content h3>span{
        display: block;
    }
    .content h3>.p1{
        font-size: 21px;
    }
    .content h3>.p2{
        font-size: 27px;
    }
/*    .social{
        position: static;
        margin: -50px auto 0;
    }
    .pre-footer{
        display: none;
    }
    /*.footer{
        position: static;
        overflow: hidden;
    }*/
/*    .footer-inner{
        /*display: block;*/
/*        width: 600px;
        height: 60px;
    }
    .footer-inner div {
        height: 30px;
        width: 30%;
    }*/
}
@media (max-width: 480px){
    body{
        width: 100%;
    }
    body:before{
        display: none;
    }
    .content h1 {
        letter-spacing: 10px;
    }
    .pre-footer{
        display: none;
    }
    .footer-inner{
        display: block;
        width: 300px;
        height: 70px;
    }
    .footer-inner div {
        height: 25px;
        width: 80%;
    }
}